@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

//layout
@import 'layout/reset';
@import 'layout/variables';

//mixin
@import 'utils/mixins';

.container {
  max-width: 1440px;
  margin: 0 auto;
}

html {
  overflow: hidden;
  height: 100%;
}
